<ion-header>
  <ion-toolbar>
    <ion-title>{{ user ? 'Update' : 'Add'}} User</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name = "close" color = "primary" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>{{ user ? 'Update' : 'Add'}} Your User</h1>

  <ng-container *ngIf="user; else elseTemplate">
    <form [formGroup] = "userForm" (ngSubmit) = "updateUser()">
      <ion-list>
        <ion-item>
          <ion-label>Title</ion-label>
          <ion-select multiple="false" formControlName = "title">
            <ion-select-option value="Mr">Mr</ion-select-option>
            <ion-select-option value="Mrs">Mrs</ion-select-option>
            <ion-select-option value="Miss">Miss</ion-select-option>
            <ion-select-option value="Miss">Ms</ion-select-option>
            <ion-select-option value="Dr">Dr</ion-select-option>
          </ion-select>
        </ion-item>
      
        <ion-item>
          <ion-label position="stacked">First Name</ion-label>
          <ion-input formControlName = "firstName" inputmode="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Last Name</ion-label>
          <ion-input formControlName = "lastName" inputmode="text"> </ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Email Address</ion-label>
          <ion-input inputmode="email" formControlName = "emailAddress" ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label>User Role</ion-label>
          <ion-select multiple="false" formControlName = "userRole">
            <ion-select-option value="User">User</ion-select-option>
            <ion-select-option value="Admin">Admin</ion-select-option>
          </ion-select>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" formControlName = "password"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Confirm Password</ion-label>
          <ion-input  type="password" formControlName = "confirmPassword"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand = "block" color = "primary" [disabled] = "!userForm.valid" type = "submit"> Update User</ion-button>
    </form>
  </ng-container>
  <ng-template #elseTemplate>
    <form [formGroup] = "userForm" (ngSubmit) = "addUser()">
      <ion-list>
        <ion-item>
          <ion-label>Title</ion-label>
          <ion-select multiple="false" formControlName = "title">
            <ion-select-option value="Mr">Mr</ion-select-option>
            <ion-select-option value="Mrs">Mrs</ion-select-option>
            <ion-select-option value="Miss">Miss</ion-select-option>
            <ion-select-option value="Miss">Ms</ion-select-option>
            <ion-select-option value="Dr">Dr</ion-select-option>
          </ion-select>
        </ion-item>
      
        <ion-item>
          <ion-label position="stacked">First Name</ion-label>
          <ion-input formControlName = "firstName" inputmode="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Last Name</ion-label>
          <ion-input formControlName = "lastName" inputmode="text"> </ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Email Address</ion-label>
          <ion-input inputmode="email" formControlName = "emailAddress" ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label>User Role</ion-label>
          <ion-select multiple="false" formControlName = "userRole">
            <ion-select-option value="User">User</ion-select-option>
            <ion-select-option value="Admin">Admin</ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" formControlName = "password"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Confirm Password</ion-label>
          <ion-input  type="password" formControlName = "confirmPassword"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand = "block" color = "primary" [disabled] = "!userForm.valid" type = "submit"> Add User</ion-button>
    </form>
  </ng-template>
</ion-content>
